<div class="row">
    <div class="col-3">
        <p>心がけ</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.declaration }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>心がけるべき状況</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.situation }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>間違って取る行動例</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.wrong_action }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>心がけて実践すべき端的な理由</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.reason }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>理由の論証</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.logic }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>論証の下書き</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.draft_logic }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>作成者</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.maker }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>心がけ採用日</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.adopted_date }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>意識すべき出来事が起きた累計数</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.timing }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>要意識頻度</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.frequency }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>累積成功ポイント</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.total_succeeded_point }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>成功率</p>
    </div>
    <div class="col-9">
        <p>{{ attitude.practiced_rate }}</p>
    </div>
</div>
