{% extends "./_base.html" %}
{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <a class="btn btn-outline-secondary" href="{% url 'index' %}">戻る</a>
                    <input type="submit" class="btn btn-outline-secondary" value="削除" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 deleting-card blue-card">
                <h2 class="text-center">Attitude Card 破棄</h2>
                <p>このカードを破棄します。よろしいですか？</p>
                {% include "./attitude_card.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <a class="btn btn-outline-secondary" href="{% url 'index' %}">戻る</a>
                    <input type="submit" class="btn btn-outline-secondary" value="削除" />
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}