{% extends "./_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <!--フィルタのウィンドウを作っている-->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">検索条件</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="filter" method="get">
                    <div class="modal-body">
                        <!--{{filter.form|crispy}}-->
                    </div>
                </form>
                <div class="modal-footer">
                    <a class="btn btn-outline-secondary" data-dismiss="modal">戻る</a>
                    <button type="submit" class="btn btn-outline-secondary" form="filter">検索</button>
                </div>
            </div>
        </div>
    </div>
    <!--検索条件設定時に出す検索解除ボタン、新規追加ボタン、検索ウィンドウ表示ボタン-->
    <div class="row">
        <div class="col-12">
            <a class="btn btn-secondary filtered" style="visibility:hidden" href="/?page=1">検索を解除</a>
            <div class="float-right">
                <a class="btn btn-outline-secondary" href="{% url 'create' %}">新規</a>
                <a class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" href="#">検索</a>
            </div>
        </div>
    </div>
    <!--ページネーションを埋め込んでいる-->
    <div class="row" >
        <div class="col-12">
            {% include "./_pagination.html" %}
        </div>
    </div>
    <!--アイテムリストを作っている-->
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                {% for attitude in attitude_list %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <p>心がけ</p>
                        </div>
                        <div class="col-9">
                            <p>{{ attitude.declaration }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>心がけるべき状況</p>
                        </div>
                        <div class="col-9">
                            <p>{{ attitude.situation }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="rating-form" class="col-5">
                            <form id="rating" method="POST" action="#">
                                {% csrf_token %}
                                <input type="hidden" name="attitude.pk" value="{{ attitude.pk }}">
                                <div class="evaluation">
                                    <input id="star1" type="radio" name="star" value="5" />
                                    <label for="star1"><span class="text">完璧</span>★</label>
                                    <input id="star2" type="radio" name="star" value="4" />
                                    <label for="star2"><span class="text"></span>★</label>
                                    <input id="star3" type="radio" name="star" value="3" />
                                    <label for="star3"><span class="text">普通</span>★</label>
                                    <input id="star4" type="radio" name="star" value="2" />
                                    <label for="star4"><span class="text"></span>★</label>
                                    <input id="star5" type="radio" name="star" value="1" />
                                    <label for="star5"><span class="text">最悪</span>★</label>
                                </div>
                            </form>
                        </div>
                        <div id="form-rated-message" class="col-5">

                        </div>
                        <div class="col-3">
                            <button id="rate" type="submit" class="btn btn-outline-secondary" form="rating">評価</button>
                        </div>
                        <div class="col-4">
                            <div class="float-right">
                                <a class="btn btn-outline-secondary " href="{% url 'detail' attitude.pk %}">詳細</a>
                                <a class="btn btn-outline-secondary " href="{% url 'update' attitude.pk %}">編集</a>
                                <a class="btn btn-outline-secondary " href="{% url 'delete' attitude.pk %}">削除</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-attitude">
                    対象のデータがありません
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--リスト下部のボタン-->
    <div class="row" >
        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-outline-secondary" href="{% url 'create' %}">新規</a>
                <a class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" href="#">検索</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}