.row{
    margin-top:0px;
    margin-bottom:10px;
    padding-top:10px
}

.background {
	background-image: url(../images/IIIscreen.png);
	background-size: cover;
	background-position: center;
	height: 813px;
}

.screen {
	background-color: rgba(0,0,0,0.6);
	height: 813px;
}

.navbar {
	background-color: #DFF2FC;
}

.navbar-brand {
	color: #0000cc;
}

.nav-link {
	color: #000099;
}

.list-group {
	margin-bottom: 10px;
}

.list-group-item {
	background-color: rgba(138,226,252,0.8);
	margin: 4px;
}